<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>
<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variable</th> 
          <th>Pipe</th> 
          <th>Salida</th> 
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ autor }}</td>
          <td>capitalizado personalizado</td>
          <td>{{ autor | capitalizado: true }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>uppercase</td>
          <td>{{ nombre | uppercase }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>lowercase</td>
          <td>{{ nombre | lowercase }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>slice : 3</td>
          <td>{{ nombre | slice:3 }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>slice : 0 : 3</td>
          <td>{{ nombre | slice:0:3 }}</td>
        </tr>
        <tr>
          <td>{{ arreglo }}</td>
          <td>slice : 1 : 5</td>
          <td>{{ arreglo | slice:1:5 }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number :'3.0-0'</td>
          <td>{{ PI | number :'3.0-0' }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number :'.0-2'</td>
          <td>{{ PI | number :'.0-2' }}</td>
        </tr>
        <tr>
          <td>{{ porcentaje }}</td>
          <td>percent</td>
          <td>{{ porcentaje | percent }}</td>
        </tr>
        <tr>
          <td>{{ porcentaje }}</td>
          <td>percent:'2.2-2'</td>
          <td>{{ porcentaje | percent:'2.2-2' }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>currency</td>
          <td>{{ salario | currency }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>currency :'COP' : 'symbol':'.2-2'</td>
          <td>{{ salario | currency :'COP ' : 'symbol':'.2-2'}}</td>
        </tr>
        <tr>
          <td>{{ heroe }}</td>
          <td>json</td>
          <td>{{ heroe | json }}</td>
        </tr>
        <tr>
          <td>{{ valorPromesa }}</td>
          <td>async</td>
          <td>{{ valorPromesa | async }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>Date</td>
          <td>{{ fecha | date }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>Date:'medium' </td>
          <td>{{ fecha | date:'medium' }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>Date:'short'</td>
          <td>{{ fecha | date:'short' }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>Date:'short'</td>
          <td>{{ fecha | date:'short' }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>Date:''</td>
          <td>{{ fecha | date:'MMMM-dd-yyyy' }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>Date:'MMMM-dd-yyyy':'':'{{ idioma }}'</td>
          <br />
          <button (click) = "idioma='es'" class="btn btn-primary mr-1">Español</button>
          <button (click) = "idioma='en'" class="btn btn-info mr-1">Ingles</button>
          <button (click) = "idioma='fr'" class="btn btn-secondary mr-1">Frances</button>
          <td>{{ fecha | date:'MMMM-dd-yyyy':'': idioma  }}</td>
        </tr>
       
      </tbody>
    </table>
    <hr>
    <div class="row">
      <div class="col">
        <h3>json</h3>
        <pre>{{heroe | json}}</pre>
          
      </div>
    </div>
    <hr>
    <div class="row mb-5">
      <div class="col-6">
        <h4>slice</h4>
        <ul>
          <li *ngFor="let item of arreglo">{{item}}</li>
        </ul>
      </div>
      <div class="col-6">
        <h4>slice : ini(5) : fin(20)</h4>
        <ul>
          <li *ngFor="let item of arreglo | slice:5:20">{{item}}</li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="mb-5">
      <h3 class="mt-4">Dom Seguro</h3>
      <div class="row">
        <div class="col">
          <iframe width="560" 
                  height="315" src="https://www.youtube.com/embed/Y-HIJFxM264" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
